#seasonsText {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#gamesText {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#connectionsText {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#recordText {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#rankText {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#outcomeText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#blank {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#blankDrops {
    width: 30%;
    display: flex;
}
#blankMiddle {
    width: 2%;
    display: flex;
}
#header {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
}
#dropContainer {
    justify-content: center;
    align-items: center;
}
#dashContainer {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    background: #863737;
}
#outcomeContainer {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    background: #6a2121;
}
#teamDropdown {
    background-color: #939393;
    color: white;
    padding: 6px;
    font-size: 22px;
    width: 250px;
    border: none;
    cursor: pointer;
    text-align: center;
}
#seasonDropdown {
    background-color: #939393;
    color: white;
    padding: 6px;
    font-size: 22px;
    width: 250px;
    border: none;
    cursor: pointer;
    text-align: center;
}
#graphDiv {
    width: 70%;
    display: flex;
    justify-content: center;
}
#tooltipDiv {
    width: 30%;
    display: flex;
    justify-content: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}
.help {
    width: 40px;
    margin: 0 auto;
}
.help .question {
    height: 40px;
    width: 40px;
    background: #ccc;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.help .popup {
    width: 560px;
    height: 0px;
    text-align: left;
    overflow: hidden;
    position: relative;
    background: #eee;
    opacity: 0;
    transition: 1s;
    left: -260px;
    top: 10px;
}
.help:hover .popup {
    opacity: 1;
    height: 50px;
}
.help .popup p {
    font-size: 16px;
    padding: 10px;
    margin: 0;
}